.heading{
    font-size:25px;
    width: 100%;
    box-shadow: 5px 5px 5px yellow;
    margin:0;
  }
  
  .note{
      font-size: 20px;
      font-weight: bold;
      color: blue;
  }
  
  .copy_right_footer{
      position: fixed;
      bottom: 0;
      line-height: 3;
      color: chartreuse;
      background-color: cornflowerblue;
      text-align: center;
      width: 100%;
  }
  
  canvas{
      border:5px dotted red;
      box-shadow: 3px 5px 10px thistle;
      border-radius: 20px;
  }